
/* stylelint-disable property-no-unknown */
:export{
    menu-active-text: $menu-active-text;
    menu-background: $menu-background;
    menu-hover: $menu-hover;
    menu-text: $menu-text;

    navbar-height: $navbar-height;
    sidebar-width: $sidebar-width;
}
/* stylelint-enable property-no-unknown */
